body {
    position: relative;
}

#canvas {
    margin: 0 auto;
    border: 1px solid black;
    display: block;
    background-image: url('./images/pan.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}


